<mlocks-menu></mlocks-menu>

<main id="about">

    <h1 class="lg-heading">
        About <span class="text-secondary">Me</span>
    </h1>

    <h2 class="sm-heading">
        A little about me...
    </h2>

    <div class="about-info">
        <img src="assets/img/portrait.jpg" alt="Juliano Maciel Ferreira" class="bio-image">

        <div class="bio">
            <h3 class="text-secondary">
                BIO
            </h3>
            <p>
                Hi there,<br>
                My name is Juliano and nice to meet you!<br>
                I'm a Freelance Web Developer living in Florianópolis, Santa Catarina, Brasil.<br>
                I have a pretty good experience in <u>Web Development</u>, working with both <u>Frontend</u> and
                <u>Backend</u>.<br>
                I'm a self-motivated developer with the ability to work in a fast-paced and dynamic environment.<br>
                With high attention to detail and ability to communicate clearly and frequently (both verbally and
                in writing).<br>
                Below, are some of the places I've worked in past years...
            </p>
        </div>

        <div class="job job-1">
            <h3>IEPEC - Institutos de Estudos Pecuários</h3>
            <h6>PHP Web Developer (Freelancer)</h6>
            <p>During 2014 and 2015 I was the main maintainer of the IEPEC Portal. The technology
                stack was PHP and MySQL.</p>
            <p><a href="http://iepec.com/">http://iepec.com/</a></p>
        </div>

        <div class="job job-2">
            <h3>Imobiliária Perfil Imóveis</h3>
            <h6>PHP Web Developer (Freelancer)</h6>
            <p>During 2016 and 2017 I develop an Information System for managing the Real Estate Company. The
                technology
                stack was PHP, MySQL,
                CodeIgniter and Bootstrap.</p>
            <p><a href="http://imobiliariaperfil.com.br">http://imobiliariaperfil.com.br</a></p>
        </div>

        <div class="job job-3">
            <h3>MLocks Consulting (MEI - Microempreendedor Individual)</h3>
            <h6>Fullstack Developer</h6>
            <p>Sice 2017, I'm working as a remote Fullstack Developer (Home office). The technology stack
                is
                growing bigger as I'm learning everyday a little more.</p>
            <p><a href="https://mlocks.com.br">https://mlocks.com.br</a></p>
        </div>

    </div>

</main>

<mlocks-footer></mlocks-footer>
