<mlocks-menu></mlocks-menu>

<main id="about">

    <h1 class="lg-heading">
        About <span class="text-secondary">Me</span>
    </h1>

    <h2 class="sm-heading">
        A little about me...
    </h2>

    <div class="about-info">
        <img src="assets/img/portrait.jpg" alt="Juliano Maciel Ferreira" class="bio-image">

        <div class="bio">
            <h3 class="text-secondary">
                Hi there, nice to meet you!
            </h3>
            <p>
                My name is <b>Juliano Maciel</b> and I live with my wife and son in <b>Florianópolis, Santa Catarina, Brasil</b>.<br/>
                <u><b>Nowadays</b></u>, I'm using the <b>Node.js</b> stack: <b>Angular</b>, <b>Nest.js</b>, <b>MongoDB</b> and <b>Docker</b> to build Web Products that customers dream of.<br/>
                <u><b>It's awesome to use Typescript language in the Front and Backend layers of a Web App.</b></u><br/>
                <b>I'm used to work a lot with different technology stacks</b>, too. Programming languages like Python, PHP, Java, relational databases (MySQL), etc., building <b>Information Systems</b> from scratch.<br/>
                Being a <b>Craftsman</b> in <b>Frontend</b> and <b>Backend</b>.<br/>
                I'm a highly self-motivated programmer with attention to details and ability to communicate clearly and frequently (both verbally and
                in writing) and used to work in <u>fast-paced and dynamic environments</u>.<br/>
                Below, are some places I've made a huge difference on the customers day-to-day...
            </p>
        </div>

        <div class="job job-1">
            <h3>IEPEC - Institutos de Estudos Pecuários</h3>
            <h6>PHP Web Developer (Contract)</h6>
            <p>In 2013 until 2015, I had a long term contract for the Web Development maintenance and improvements of the <b>IEPEC Portal</b>. The main technology
                stack was Javascript, PHP and MySQL.</p>
        </div>

        <div class="job job-2">
            <h3>Imobiliária Perfil Imóveis</h3>
            <h6>PHP Web Developer (Freelancer)</h6>
            <p>During 2016, I had a contract for the Web Development of an <b>Web Information System (CMS and more)</b> for managing a Real Estate Company. The
                technology stack was Javascript, PHP, MySQL, CodeIgniter and Bootstrap.</p>
            <p><a href="http://imobiliariaperfil.com.br">http://imobiliariaperfil.com.br</a></p>
        </div>

        <div class="job job-3">
            <h3>Self-Employee</h3>
            <h6>Node.js Fullstack Web Developer (To infinity and beyond)</h6>
            <p>Since 2017, I'm working as a <b>Software Developer (Remotely)</b> by contracts or freelancing. The technology stack
                using nowadays is Angular, Nest.js, MongoDB and Docker.</p>
            <p><a href="https://mlocks.com.br">https://mlocks.com.br</a></p>
        </div>

    </div>

</main>

<mlocks-footer></mlocks-footer>
