<mlocks-menu></mlocks-menu>

<main id="about">

    <h1 class="lg-heading">
        About <span class="text-secondary">Me</span>
    </h1>

    <h2 class="sm-heading">
        A little about me...
    </h2>

    <div class="about-info">
        <img src="assets/img/portrait.jpg" alt="Juliano Maciel Ferreira" class="bio-image">

        <div class="bio">
            <h3 class="text-secondary">
                BIO
            </h3>
            <p>
                Hi there, nice to meet you!<br>
                My name is <u>Juliano Maciel</u> and I live with my wife and son in <u>Florianópolis, Santa Catarina, Brasil</u>.<br>
                Nowadays, I'm working as a <u>Node.js Fullstack Web Developer</u> with great experience in <u>Angular</u> + <u>Nest.js</u> + <u>MongoDB</u>.<br>
                I'm used to work with different technologies, programming languages, etc., building <u>Information Systems</u>, 
                being a <b>Craftsman</b> in <u>Frontend</u> and <u>Backend</u>.<br>
                I'm a highly self-motivated programmer with attention to details and ability to communicate clearly and frequently (both verbally and
                in writing) and used to work in <u>fast-paced and dynamic environments</u>.<br>
                Below, are the last three places I've worked...
            </p>
        </div>

        <div class="job job-1">
            <h3>IEPEC - Institutos de Estudos Pecuários</h3>
            <h6>PHP Web Developer (Contract)</h6>
            <p>Since 2010 until 2015, I had a long term contract for the Web Development maintenance and improvements of the <b>IEPEC Portal</b>. The main technology
                stack was Javascript, PHP and MySQL.</p>
            <p><a href="http://iepec.com/">http://iepec.com/</a></p>
        </div>

        <div class="job job-2">
            <h3>Imobiliária Perfil Imóveis</h3>
            <h6>PHP Web Developer (Freelancer)</h6>
            <p>During 2016 and 2017 I had a contract for the Web Development of an <b>Web Information System (CMS and more)</b> for managing a Real Estate Company. The
                technology stack was Javascript, PHP, MySQL, CodeIgniter and Bootstrap.</p>
            <p><a href="http://imobiliariaperfil.com.br">http://imobiliariaperfil.com.br</a></p>
        </div>

        <div class="job job-3">
            <h3>MLocks Consulting (MEI - Microempreendedor Individual)</h3>
            <h6>Node.js Fullstack Web Developer</h6>
            <p>Since 2017, I'm working as a <b>Node.js Fullstack Web Developer (Remotely)</b>. The technology stack
                nowadays is Angular, Nest.js and MongoDB.</p>
            <p><a href="https://mlocks.com.br">https://mlocks.com.br</a></p>
        </div>

    </div>

</main>

<mlocks-footer></mlocks-footer>
