<mlocks-menu></mlocks-menu>

<main id="contact">

    <h1 class="lg-heading">
        Contact <span class="text-secondary">Me</span>
    </h1>

    <h2 class="sm-heading">
        This is how you can reach me...
    </h2>

    <div class="boxes">
        <div>
            <span class="text-secondary">
                Email:
            </span> ju.maciel.ferreira@gmail.com
        </div>
        <div>
            <span class="text-secondary">
                Phone:
            </span> +55 48 8457-8185
        </div>
        <div>
            <span class="text-secondary">
                Address:
            </span> Florianópolis, Santa Catarina, Brasil.
        </div>
    </div>
</main>

<mlocks-footer></mlocks-footer>
