<mlocks-menu></mlocks-menu>

<main id="work">

    <h1 class="lg-heading">
        My <span class="text-secondary">Work</span>
    </h1>

    <h2 class="sm-heading">
        Checkout some Information Systems I've developed...
    </h2>

    <div class="projects">

        <div class="item">
            <a href="javascript:void(0);">
                <img src="assets/img/projects/cidades-co.png" alt="Cidades.co">
            </a>

            <a href="https://www.cidades.co/" class="btn-light">
                <i class="fas fa-eye"></i> Cidades.co
            </a>
        </div>

        <div class="item">
            <a href="javascript:void(0);">
                <img src="assets/img/projects/crieatividade.png" alt="Crieatividade.org">
            </a>

            <a href="https://rea.crieatividade.org" class="btn-light">
                <i class="fas fa-eye"></i> Crieatividade.org
            </a>
        </div>

        <div class="item">
            <a href="javascript:void(0);">
                <img src="assets/img/projects/perfil-imoveis.png" alt="Perfil Imóveis">
            </a>

            <a href="http://imobiliariaperfil.com.br/" class="btn-light">
                <i class="fas fa-eye"></i> Perfil Imóveis
            </a>

        </div>

        <div class="item">
            <a href="javascript:void(0);">
                <img src="assets/img/projects/scielo.png" alt="SciELO">
            </a>

            <a href="https://scielo.org/" class="btn-light">
                <i class="fas fa-eye"></i> SciELO
            </a>

            <a href="https://github.com/scieloorg/scielo.org" class="btn-dark">
                <i class="fab fa-github"></i> Github
            </a>
        </div>

    </div>

</main>

<mlocks-footer></mlocks-footer>
