<mlocks-menu></mlocks-menu>
<main id="home">
    <h1 class="lg-heading">
        Juliano <span class="text-secondary">Maciel</span>
    </h1>
    <h2 class="sm-heading">
        Web Development, Frontend and Backend.
    </h2>
    <div class="icons">
        <a href="https://github.com/julianomacielferreira" target="_blank">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://stackoverflow.com/cv/julianomacielferreira" target="_blank">
            <i class="fab fa-stack-overflow fa-2x"></i>
        </a>
    </div>
</main>
