<mlocks-menu></mlocks-menu>

<main id="home">
    <h1 class="lg-heading">
        Juliano <span class="text-secondary">Maciel</span>
    </h1>
    <h2 class="sm-heading">
       Fullstack Web Developer <code ng-non-bindable>{{</code>Remote<code ng-non-bindable>}}</code>. Freeing customers from Wix, Strikingly and alike.
    </h2>
    <div class="icons">
        <a href="https://github.com/julianomacielferreira" target="_blank">
            <i class="fab fa-github fa-4x"></i>
        </a>
    </div>
</main>
